{% extends 'base.html' %} {% block content %} {% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
<body>
  <div id="eachcol">
    <div class="post-card">
      <div class="post-card-header">
        <div class="post-card-header-image">
          <img src="{{post.author.userprofile.image.url}}" alt="" />
        </div>
        <div class="post_info">
          <a href="#"><h3>{{post.author}}</h3></a>
          <div class="post_location">Hamburg</div>
        </div>

        <div class="post_option">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'post_update' id=post.id %}"
                >Update</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Delete</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="caption">
        <span><p>{{post.caption|safe}}</p></span>
      </div>
      <div class="post_image">
        {%if post.image%}
        <img src="{{post.image.url}}" />
        {% elif post.video%}
        <video autoplay controls>
          <source src="{{post.video.url}}" type="video/mp4" />
        </video>
        {%endif%} {%if post.video_link%}
        <div class="post_yt_video">
          <iframe
            width="484"
            height="315"
            src="{{ post.video_link }}"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        {%endif%}
      </div>
      <div class="post-likes">
        <a href="#">{{post.likes.count}} likes</a>

        <a href="#">{{yorum.total}} comments</a>
      </div>
      <div class="post_engagements">
        <form action="{% url 'post_like' %}" id={{post.id}} class="formClass" method="POST">
          <input type="hidden", name="post_id", value="{{post.id}}">
          
          {%csrf_token%}
          {%if user in post.likes.all%}
             <button  type="submit"><i id='thumbs'  class="fas fa-thumbs-up"></i></a></button>

          {%else%}
             <button  type="submit"><i id='thumbs'  class="far fa-thumbs-up"></i></button>
          {%endif%}
         
       </form>
       <form action="#">
         <button><i class="far fa-comments"></i></button>
      </form>
      <form action="#">
       <button><i class="fas fa-share-square"></i></button>
      </form>
      </div>

      <div>
        <div class="time_posted">
          {{post.created_date| timesince}} ago
        </div>
      </div>
    </div>
  </div>
  <div class="commencento_frame_detail">
    {%for com in comments%}
    <div class="commencento">
      <div class="name_time_drop">
        <p>{{com.user_id}} | {{ com.created_date| timesince}} ago</p>

        <div>
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                href="{%url 'comments_delete' id=com.id %}"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="pict_and_com">
        <img
          src="{{com.user_id.userprofile.image.url}}"
          class="img-responsive"
          width="40"
          height="40"
          alt=""
          style="border-radius: 50%;"
        />
        <p>{{com.comments}}</p>
      </div>
    </div>
    {%endfor%}
    <div class="post_form">
      <form method="post" action="{% url 'comments_create' %}">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{com.user_id}}" />
        <input type="hidden" name="post_id" value="{{post.id}}" />
        <div class="button_input">
          <input
            type="text"
            name="comm"
            value
            placeholder="please enter your comment"
          />
          <button type="submit" class="btn btn-warning">
            Post
          </button>
        </div>
      </form>
    </div>
  </div>

  {%block scripts%}
  <script>
    
    $(document).ready(function() { 
      $('.formClass').submit(function(event){
        
        event.preventDefault()
        var post_id=$(this).attr('id')
        var form_url=$('.formClass').attr('action')
      
        $.ajax({
          type:'POST',
          url: form_url,
          data:{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
           'post_id':post_id
          },
  
          success:function() {
         //btn.classList.contains('far')
          let btn=document.getElementById(post_id)
          let icon=btn.childNodes[5].childNodes[0]
          console.log('btn', btn.childNodes[5].childNodes[0].id )
          if (icon.classList.contains('far') & icon.classList.contains('fa-thumbs-up') && icon.id==='thumbs'){
            
            icon.classList.remove('fa-thumbs-up')
            icon.classList.remove('far')
            console.log('btn_iff', btn.childNodes[5].childNodes[0])
            icon.className ='fas fa-thumbs-up'
          }else{
            icon.classList.remove('fas')
            icon.classList.remove('fa-thumbs-up')
            icon.className='far fa-thumbs-up'
  
          }
          },
          error:function(error){
            console.log('eror',error)
          }
        })
  
      })
  });
  </script>
  {% endblock scripts%}
</body>

{% endblock %}

