{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content%}

<div class="row justify-content-center">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h2>Update</h2>
        <form method="post" enctype="multipart/form-data">
          {%csrf_token%} {{form|crispy}} {{form.media}}
          <button class="btn btn-outline-primary btn-sm mr-3" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
